<div class="container py-md">
  <div class="row row-grid justify-content-between align-items-center">
    <div class="col-lg-6">
      <h3 class="display-3 text-black">Comment ça fonctionne ?
      </h3>
    </div>
  </div>
</div>
<app-how-its-work title="Créer ton paris de façon simplifiée" text="Par'eSport te permet de créer tes propres paris, privé ou public, de la façon
la plus simple possible. Il te suffit de choisir un événement parmis une liste de tournoi qui te seras proposer et de te laisser
guider. En seulement 4 cliques ton paris sera crée, on a compté 😎" img="assets/img/theme/home.png" imgWidth="280"></app-how-its-work>
<app-how-its-work title="Retrouve tes paris facilement"
  text="Vous pourrez retrouver vos paris dans une page dédiée et ainsi suivre les résultats en temps réel, inviter vos 
  amis sur le pari ou encore annuler votre mise avant le lancement
   du tournoi." ltr=true
  img="assets/img/theme/my-bet.png" imgWidth="280"></app-how-its-work>
<app-how-its-work title="Un large choix de produits disponibles"
  text="Grâce aux tokens gagnés avec les paris, il est possible d'acheter ou plutot d'échanger votre monnaie virtuel contre 
  des produits in-game, tel que des paquet de jeu, des skins, des armes etc."
  img="assets/img/theme/shop.png" imgWidth="350"></app-how-its-work>
<app-how-its-work title="Partager vos paris avec vos amis"
  text="Vous pouvez partager de façon simplifier le moindre de pari. Il est possible de rendre privé un pari pour ainsi jouer et miser 
  entre un nombre limiter de personne que vous connaissez. Le partage d'un pari publique est également possible, invitez vos amis à pariez sur 
  un tournoi face à d'autres grands parieurs." ltr=true
  img="assets/img/theme/share.png" imgWidth="300"></app-how-its-work>