.principal-admin-text{
    margin-top: 30px;
    font-size: 44px;
}

.section-hero{
    height: 95vh;
}

.inputs-content{
    .classic-input{
        height: 50px;
        width: 300px;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.5);
    }
    .input-mail, .input-pwd{
        margin-top: 30px;
    }
    .classic-btn{
        cursor: pointer;
        height: 50px;
        margin-top: 30px;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 20px;
        outline: none;
        border-radius: 10px;
        box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.5);
        background-color: white;
        color:#C776D7;
    }
}
    