<main>
  <app-navbar></app-navbar>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 text-home">
              <img src="./assets/img/brand/paresport-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Ton pari eSport dans la poche.</p>
              <h4 class="text-white">Par’eSport va changer votre façon de parier.</h4>
              <div class="btn-wrapper mt-5">
                <a href="#" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Bientôt disponible</span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 mb-lg-auto img-left-home" style="position: relative;">
              <img class="img-fluid img-floating" src="assets/img/theme/first.png" alt="First slide">
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1400 320">
          <path class="fill-white" fill="#0099ff" fill-opacity="1"
            d="M0,288L48,277.3C96,267,192,245,288,250.7C384,256,480,288,576,288C672,288,768,256,864,245.3C960,235,1056,245,1152,261.3C1248,277,1344,299,1392,309.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
          </path>
        </svg>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
  <app-footer></app-footer>
</main>