<section style="position: relative;">
  <div class="container py-md">
    <div class="row row-grid justify-content-center align-items-center" [ngClass]="{'row-reverse-custom' : ltr}">
      <div class="col-lg-5 mb-lg-auto justify-content-center align-items-center" style="display: flex;">
        <img class="img-fluid" [width]="imgWidth" [src]="img" alt="First slide">
      </div>
      <div class="col-lg-7" [ngStyle]="ltr ? {'text-align': 'right'} : {'text-align': 'left'}">
        <h3 class="h4 text-success font-weight-bold mb-4">{{title}}</h3>
        <p class="lead text-black" style="padding-top: 40px;">{{text}}</p>
      </div>
    </div>
  </div>
</section>