.section-hero {
    height: 70vh !important;
    min-height: inherit !important;
    display: flex;
    align-items: flex-start!important;
    .py-lg {
        padding: 0 !important;
        margin-top: -25px;
        p {
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            padding-top: 8px;
            font-weight: 600;
        }
    }
}
.admin-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
        color:white;
        cursor: pointer;
        font-size: 12px;
        text-decoration: underline;
    }
}

.dashboard-content{
    padding: 40px 15%;
    width: 100%;
    z-index: 2;
    margin: auto;
    position: absolute;
    top: 20%;
    .table-back{
        background-color: white;
        width: 92%;
        margin: 4%;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.5);
        .table-line{
            display: flex;
            width: 95%;
            margin: auto;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            padding: 0 15px;
            border-bottom: 2px solid #F2F2F2;
            &:last-child{
                border-bottom: none;
            }
            .line-title{
                display: flex;
                justify-content: flex-start;
                div:first-child{
                    width: 250px;
                    overflow: hidden;
                }
            }
            .line-actions{
                display: flex;
                height: 100%;
                align-items: center;
                i{
                    font-size: 28px;
                    cursor: pointer;
                }
            }
        }
        .table-line_header{
            color: #C776D7;
            border-bottom: none;
        }
    }
}
