<footer  id="footer" class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-md-12 mb-12 mb-md-0 text-center">
        <div>
            <img src="./assets/img/brand/app-icon.png" width="160px" class="card-img-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Nous contacter</h3>
        <h4 class="mb-0 font-weight-light">Venez nous rejoindre sur l'application !</h4>
      </div>
      <div class="col-lg-6 text-lg-right btn-wrapper">
        <a href="mailto:contact@paresport.com">
          <strong style="padding-right:20px; cursor: pointer;">contact@paresport.com</strong>
          <div class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg">
            <i class="fa fa-envelope" style="padding: 10px;"></i>
          </div>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="">Par'eSport</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com?ref=adsa-footer" class="nav-link" target="_blank">Par'eSport</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">À propos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
